
     {% extends 'base.html' %}
     {% block body %}
<div class="alert alert-dark w-100 p-3" role="alert">
    <h4 class="alert-heading" align="center">About the Todo App</h4>
    <br>
    <p >Welcome to the Todo app, your ultimate companion for staying organized and on top of your tasks and priorities. Our app is designed to simplify your life by helping you manage your daily to-dos effortlessly.</p>
    <hr>
    <p class="mb-0">Why Choose Our Todo App?

      We believe in simplicity and efficiency. Our goal is to help you regain control over your busy life by providing a powerful yet user-friendly tool for managing your tasks. Whether you're a student, a professional, or a busy parent, our app is designed to meet your unique needs.<br><br>
      
      Never forget an important task again. Download our Todo app today and start organizing your life like never before.<br><br>

      
      Thank you for choosing our Todo app to simplify your daily tasks and boost your productivity!</p>
  </div>
    
</body>
</html>

{% endblock body %}